{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=24) }}
            {% for error in form.username.errors %}<br>
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=40, rows=8, maxlength=256) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}