{% extends 'base.html' %}

{% block content %}
    <form action="/login" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=24) }}<br>
            {% for error in form.username.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=24) }}<br>
            {% for error in form.password.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
            <a href="{{ url_for('reset_password') }}">Forgot password?</a>
        </p>
        <p>
            {{ form.remember_me() }}
            {{ form.remember_me.label }}
        </p>
        <p><a href="/register" method="post">Not a User?</a></p>
        {{ form.submit() }}
    </form>
{% endblock %}