{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=24) }}<br>
            {% for error in form.password.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.repeat_password.label }}<br>
            {{ form.repeat_password(size=24) }}<br>
            {% for error in form.repeat_password.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        {{ form.submit() }}
    </form>
{% endblock %}